<ion-content>
  </ion-content>
  
  <ion-footer>
  
    <ion-row class="login-register-form" text-center>
      <ion-col>
        <h3>Login</h3>
  
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input required type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input required type="password"></ion-input>
        </ion-item>
  
        <ion-button expand="full" (click)="login()">Login</ion-button>
  
        <ion-row no-padding>
          <ion-col size="6" text-left>
            <ion-button fill="clear" routerLink="/register" routerDirection="forward">Register</ion-button>
          </ion-col>
  
          <ion-col size="6" text-right>
            <ion-button fill="clear" (click)="forgotPw()">Forgot password?</ion-button>
          </ion-col>
        </ion-row>
  
      </ion-col>
    </ion-row>
  
  </ion-footer>